LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
{
1000, "Light"
1001, "Dark"
}

STRINGTABLE
{
2000, "HoloV2 Light"
2001, "HoloV2 Dark"
}

STRINGTABLE
{
3000, "Regular Fonts"
3001, "Large Fonts"
3002, "Extra Large Fonts"
}

STRINGTABLE
{
4000, "Regular Fonts"
4001, "Large Fonts"
4002, "Extra Large Fonts"
}

STRINGTABLE
{
5000, "HoloV2"
5001, "Visual Style"
5002, "ASTerisk Productions"
5003, "(WIP) Inspired by Android Honeycomb's holographic UI"
5004, "Released under GNU/GPL 3.0, 2025"
5005, "https://elidianesampaiotrabuco.github.io/"
5006, "0.1"
5007, "Holographic theme for StarrieOS"
}
